.App{width: 1200px;margin: auto;box-sizing: border-box;}
.sidebar{margin-top: 2rem;}
.content{width: 80%;}
.flexrowst{display: flex;align-items: flex-start;}
.flexrow{display: flex;align-items: flex-start;flex-wrap: wrap;justify-content: space-evenly;}
.flexrowsb{display: flex;align-items: center;justify-content: space-around;margin-top: 1rem;}
.flexrowsbb{display: flex;align-items: center;justify-content: space-between;margin-top: 1rem;}

span{border: 1px solid gray;padding: 0.5rem;}
ul{list-style-type: none;padding: 10px;margin: 0;}
ul:hover{background: whitesmoke;border-left: 4px solid blue;}
li{cursor: pointer;}
img.img {width: 285px;height: 225px;}
button{background-color: blue;color: white;padding-left: 2rem;padding-right: 2rem;padding-top: 0.5rem;padding-bottom: 0.5rem;}
.head{margin-left: 1rem;}
